
<table border=1>
	<tr>
		<th>Title</th>
		<th>Description</th>
		<th>Invite</th>
	</tr>

	<% @task.each do |t| %>
	<tr>
		<td><%= t.title %></td>
		<td><%= t.description %></td>
		<td><%= link_to "Invite Friend", invite_task_url(t.id) %></td>
	</tr>
	<% end %>


</table>
